<!DOCTYPE html>
<html>
    <div id="table-container">
        <div class="table-row" id="table-row-template">
            <div class="table-col" id="table-col-template">
                <div class="table-data" id="table-data-template">
                    <div class="table-data-info1">
                        <img class="status-img" alt="status">
                    </div>
                    <div class="table-data-info2"></div>
                </div>
            </div>
        </div>
    </div>
</html>